@import '../../styles/abstract/abstracts';

.header {
  position: relative;

  width: 100%;
  min-height: $header-hight;
  padding: 0.5rem 2rem;

  @include flex($justify-content: space-between);

  // border-bottom: $border;

  user-select: none;
}

.logo {
  height: 100%;
  @include flex($align-items: center);

  color: $color-text-marked;
  text-shadow: $text-shadow;
}

.buttonsGroup {
  & > button + button {
    margin-left: 1rem;
  }
}
