@import '../../styles/abstract/abstracts';

.header {
  position: relative;

  width: 100%;
  min-height: $header-hight;
  padding: 1rem 2rem;

  @include flex($justify-content: space-between);
  @extend %animation-fadeIn;

  user-select: none;

  @include media-surface {
    flex-direction: column;
  }
}

.logo {
  height: 100%;
  @include flex($align-items: center);

  color: $active-color;
  text-shadow: $text-shadow;

  @include media-surface {
    margin-bottom: 2rem;
  }
}

.buttonsGroup {
  & > button + button {
    margin-left: 1rem;
  }
}
