@import '../../styles/abstract/abstracts';

.footer {
  position: relative;

  width: 100%;
  min-height: $footer-hight;
  padding: 0.5rem 2rem;

  @include flex($justify-content: space-between);

  // border-top: $border;

  user-select: none;
}

.footer_link {
  @include flex();

  color: $color-link;

  text-decoration: none;

  @extend %transition-hover;

  @include media-hover {
    &:hover {
      color: $color-link-hover;
      outline: none;
    }
  }
}

.footer_icon__github {
  @include size(3rem);
}
