@import '../../styles/abstract/abstracts';

.footer {
  position: relative;

  width: 100%;
  min-height: $footer-hight;
  padding: 1rem 2rem;

  @include flex($justify-content: space-between);

  user-select: none;
}

.footer_link {
  @include flex();

  text-decoration: none;

  @extend %transition-hover;

  @include media-hover {
    &:hover {
      color: $active-color;
      outline: none;
    }
  }
}

.footer_icon__github {
  @include size(3rem);
}
