  $color-background: #e7e7e7;
  $color-text: #2b2b2b;

  $active-color: #f5115d;
  $color-tag: #8344f7;
  $color-tag-background: #f7f7f7e1;
  $color-note-background: #d3d2d2e1;

  $content-width-wide: 1440px;
  $content-width-landscape: 850px;
  $content-width-surface: 600px;
  $content-width-mobile: 480px;

  $header-hight: 5rem;
  $footer-hight: 5rem;

  $box-shadow-tag: 0px 0px 5px 2px $active-color;
  $box-shadowSmall-tag: 0px 0px 3px 1px $active-color;
  $box-shadow-note: 0px 0px 5px 5px $color-tag-background;
  $text-shadow: 1px 1px 2px $color-tag-background;

  $btn-border-radius: 1.5rem;
  $radius-border-view: 4px;

  $icon-size: 4rem;
