@import '../../styles/abstract/abstracts';

.page {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 144rem;

  @include flex($flex-direction: column, $align-items: stretch, $justify-content: flex-start);

  @extend %animation-fadeIn;
}
