@import '../../styles/abstract/abstracts';

.container {
  margin-bottom: 0.5rem;

  background-color: $color-background-view;

  border: $border;
  border-radius: $radius-border-view;
}

.search {
  width: 100%;
  padding: 0.5rem 1rem;
}
