@import '../../styles/abstract/abstracts';

.container {
  padding: 1rem;
  @extend %animation-fadeIn;
}

$height: 5rem;

.search {
  width: 100%;
  height: $height;
  padding: 0 2rem;

  background-color: $color-tag-background;
  color: $color-tag;

  border-radius: calc(0.5 * #{$height});

  &:focus {
    box-shadow: inset $box-shadowSmall-tag;
  }

  &:disabled {
    opacity: 0.25;
  }
}
