@import '../../styles/abstract/abstracts';

.container {
  @include flex($justify-content: space-between, $align-items: flex-start);
  @extend %animation-fadeIn;

  @include media-mobile {
    flex-direction: column;
    align-items: flex-end;
  }
}

.editor {
  position: relative;
  align-self: stretch;

  width: 100%;

  border-radius: $radius-border-view;
}

.buttonsGroup {
  flex-shrink: 0;
  @include flex($flex-direction: column, $justify-content: flex-start);

  margin-left: 1rem;

  @include media-mobile {
    margin-top: 0.5rem;
    flex-direction: row;
    padding-right: 0.5rem;
  }

  & > button {
    @include size(4rem);
    padding: 0.85rem;

    border-radius: 50%;
    background: $color-tag-background;
  }

  & > button + button {
    margin-top: 0.5rem;

    @include media-mobile {
      margin-top: 0;
      margin-left: 0.5rem;
    }
  }
}
