@import '../../styles/abstract/abstracts';

.container {
  padding: 3rem 1rem 1rem;
}

.filters {
  @include flex();
}

.list {
  & > li {
    padding: 0 0 4rem 0;
  }
}

.emptyListItem {
  padding-left: 2rem;
  opacity: 0.25;
}
