@import '../../styles/abstract/abstracts';

.container {
  padding: 1rem;

  @include media-landscape {
    max-height: 40vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-tag-background;
      border-radius: 2px;
    }

    &::-webkit-scrollbar-track {
      background-color: $color-note-background;
      border-radius: 2px;
    }
  }
}

.list {}

.listItem {
  margin: 0.5rem 0;

  @extend %transition-hover;

  border-radius: calc(0.5 * #{$icon-size});

  @include media-hover {
    &:hover {
      background-color: $color-note-background;
    }
  }
}

.emptyListItem {
  padding-left: 2rem;
  opacity: 0.25;

  user-select: none;
}
