@import '../../styles/abstract/abstracts';

.container {
  padding: 1rem;
}

.list {
  padding: 0 2rem;
}

.listItem {
  margin: 0.5rem 0;

  @extend %transition-hover;

  border-radius: calc(0.5 * #{$icon-size});

  @include media-hover {
    &:hover {
      background-color: $color-note-background;
    }
  }
}
