@import '../../styles/abstract/abstracts';

.container {
  align-self: stretch;

  border-radius: $radius-border-view;
  background-color: $color-note-background;
}

.viewMode {
  min-height: 5rem;
  box-shadow: $box-shadow-note;
}

.editMode {
  @extend .viewMode;
}

.contentEditable {
  margin: 0 0.5rem;
  padding: 1rem 1.5rem;

  background-color: $color-tag-background;
  border-radius: inherit;

  line-height: 1.5;
  font-size: 2rem;
  word-break: break-all;

  &:focus {
    box-shadow: inset $box-shadowSmall-tag;
  }

  & hash {
    color: $color-tag;
  }

  @include media-mobile {
    font-size: unset;
  }
}

.buttonsGroup {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;

  @include flex($justify-content: flex-end);

  & > button {
    @include size(4rem);
    padding: 1rem;

    border-radius: 50%;
    background-color: $color-tag-background;
  }

  & > button + button {
    margin-left: 0.5rem;
  }
}
