@import '../../styles/abstract/abstracts';

.container {
  margin: 2rem;
  min-height: 4rem;

  background-color: $color-background-view;

  border: $border;
  border-radius: $radius-border-view;
}

.viewMode {
  min-height: 5rem;
  background-color: orange;
}

.editMode {
  @extend .viewMode;
  border-color: red;
}
