@import '../../styles/abstract/abstracts';

.container {
  @include flex($justify-content: flex-start);

  color: $color-tag;

  & > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

$size: 4rem;

.input {
  margin-right: 1rem;
  color: $color-text;

  position: relative;
  cursor: pointer;

  & input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }

  & :checked ~ .iconBox {
    box-shadow: inset $box-shadow-tag;
    color: $color-tag;
  }
}

.iconBox {
  @include size($size);
  @include flex();
  padding: 1rem;

  background: $color-tag-background;
  // box-shadow: $box-shadow-tag;
  border-radius: 50%;
}
