@import '../../styles/abstract/abstracts';

.input {
  @include flex($justify-content: flex-start);

  position: relative;
  cursor: pointer;

  & input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }

  & :checked ~ .iconBox {
    box-shadow: inset $box-shadow-tag;
    color: $active-color;
  }

  @extend %animation-fadeIn;
}

.iconBox {
  display: inline-block;

  @include size($icon-size);
  padding: 1rem;
  margin-right: 1rem;

  background: $color-tag-background;
  border-radius: 50%;
}

.tag {
  color: $color-tag;
  line-height: 1.5;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
