@import '../../styles/abstract/abstracts';

.container {
  margin: 2rem;

  background-color: $color-background-view;

  border: $border;
  border-radius: $radius-border-view;
}

.contentEditable {
  width: 100%;
  padding: 1rem;

  background-color: rgb(230, 202, 230);

  & span {
    color: red;
  }
}
