@import '../../styles/abstract/abstracts';

.container {
  position: relative;

  @include flex($justify-content: space-between, $align-items: flex-end);
  padding: 1rem;

  border-radius: $radius-border-view;

  @extend %animation-fadeIn;
}

.label {
  position: absolute;
  top: 2rem;
  left: 2rem;

  line-height: 1.5;
  font-size: 2rem;
  opacity: 0.5;
}

.contentEditable {
  align-self: stretch;

  width: 100%;
  min-height: 5rem;
  padding: 1rem;

  background-color: $color-tag-background;
  border-radius: inherit;
  line-height: 1.5;
  font-size: 2rem;

  &:focus {
    box-shadow: inset $box-shadowSmall-tag;
  }

  & hash {
    color: $color-tag;
  }
}

.buttonsGroup {
  @include flex($flex-direction: column);

  margin-left: 1rem;

  & > button {
    width: 100%;
  }

  & > button + button {
    margin-top: 1rem;
  }
}
