@import '../../styles/abstract/abstracts';

.container {
  @include flex($justify-content: space-between, $align-items: flex-end);
  padding: 1rem;

  border-radius: $radius-border-view;
}

.contentEditable {
  align-self: stretch;

  width: 100%;
  min-height: 5rem;
  padding: 1rem;

  background-color: $color-tag-background;
  border-radius: inherit;
  line-height: 1.5;

  &:focus {
    box-shadow: $box-shadow-tag;
  }

  & span {
    color: $color-tag;
  }
}

.buttonsGroup {
  @include flex($flex-direction: column);

  margin-left: 1rem;

  & > button {
    width: 100%;
    border: $border;
  }

  & > button + button {
    margin-top: 1rem;
  }
}
